/*========FLEX BOX SETUP=========*/
*{
  border-radius: 2px;
  color: #eeff41;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
header{
  opacity: 0.5;
}
/*======CART*/
.cart{
  border: 3px #eeff41 solid;
  border-radius: 15px;
  padding: 15px;
}
.row{
  padding: 5px;
}
.products{
  margin: auto 10px;
}
table{
  color: #827717;
}
input[type="number"] {
    width: 25px;
    border: 1px #827717 solid;
    border-radius: 15px;
    padding: 5px;
}

/*=====*/
/*====================*/
/*------img size for parallax------*/
#pImg{
  /*background-position: 50% 210px !important;*/
  /*height: 100%;*/
  /*background-size: cover;*/
  /*background-image: 'Marijuana-Grow-Room-Closeup.jpg';*/

}
/*=================================*/

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

/* form colors */
  /* label color */
   .input-field label {
     color: #9e9d24;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #9e9d24;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #9e9d24;
     box-shadow: 0 1px 0 0 #9e9d24;
   }
   .input-field input[type=email]:focus + label {
     color: #9e9d24;
   }
   /* label underline focus color */
   .input-field input[type=email]:focus {
     border-bottom: 1px solid #9e9d24;
     box-shadow: 0 1px 0 0 #9e9d24;
   }
   .input-field input[type=password]:focus + label {
     color: #9e9d24;
   }
   /* label underline focus color */
   .input-field input[type=password]:focus {
     border-bottom: 1px solid #9e9d24;
     box-shadow: 0 1px 0 0 #9e9d24;
   }


.element-animation{
  animation: animationFrames ease-out 0.8s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames ease-out 0.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
  -moz-animation: animationFrames ease-out 0.8s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animationFrames ease-out 0.8s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animationFrames ease-out 0.8s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animationFrames{
  0% {
    opacity:0;
    transform:  translate(300px,0px)  skewX(-30deg) ;
  }
  60% {
    opacity:1;
    transform:  translate(-900px,0px)  skewX(30deg) ;
  }
  80% {
    opacity:1;
    transform:  translate(0px,0px)  skewX(-15deg) ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  skewX(0deg) ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    opacity:0;
    -moz-transform:  translate(300px,0px)  skewX(-30deg) ;
  }
  60% {
    opacity:1;
    -moz-transform:  translate(-900px,0px)  skewX(30deg) ;
  }
  80% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  skewX(-15deg) ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  skewX(0deg) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity:0;
    -webkit-transform:  translate(300px,0px)  skewX(-30deg) ;
  }
  60% {
    opacity:1;
    -webkit-transform:  translate(-900px,0px)  skewX(30deg) ;
  }
  80% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  skewX(-15deg) ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  skewX(0deg) ;
  }
}

@-o-keyframes animationFrames {
  0% {
    opacity:0;
    -o-transform:  translate(300px,0px)  skewX(-30deg) ;
  }
  60% {
    opacity:1;
    -o-transform:  translate(-40px,0px)  skewX(30deg) ;
  }
  80% {
    opacity:1;
    -o-transform:  translate(0px,0px)  skewX(-15deg) ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  skewX(0deg) ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    opacity:0;
    -ms-transform:  translate(300px,0px)  skewX(-30deg) ;
  }
  60% {
    opacity:1;
    -ms-transform:  translate(-40px,0px)  skewX(30deg) ;
  }
  80% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  skewX(-15deg) ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  skewX(0deg) ;
  }
}
