<table class="responsive-table highlight">
       <thead>
         <tr>
             <th data-field="name">Strain</th>
             <th data-field="qty">Qty</th>
             <th data-field="price">Price</th>
         </tr>
       </thead>

       <tbody>
         <tr>
           <td>Green Krack</td>
           <td>1/8</td>
           <td>$60</td>
         </tr>
         <tr>
           <td>Blue Dream</td>
           <td>1/4</td>
           <td>$100</td>
         </tr>
         <tr>
           <td>Ice Hash Cone</td>
           <td>1</td>
           <td>$0</td>
         </tr>
         <tr>
           <td></td>
           <td>Total:</td>
           <td>$200</td>
         </tr>
       </tbody>
</table>
