<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text">Kush</h1>
      <br><br><br><br><br><br><br><br><br><br>
      <div class="row center">
        <a href="#/signup" id="btnSignup" class="btn-large waves-effect waves-light lime accent-2 black-text">Join Now</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img ng-src="images/weedTaxi.jpg" class="responsive-img" alt="Unsplashed background img 1"></div>
</div>
<!-- parallax container -->
<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center lime-text text-accent-2"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Quick Delivery</h5>

          <p class="light">We do the heavy lifting and get the medicine to you quickly.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center lime-text text-accent-2"><i class="material-icons">grade</i></h2>
          <h5 class="center">Quality Medicine</h5>

          <p class="light">Kush Taxi provides the highest quality medicine to your door step.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center lime-text text-accent-2"><i class="material-icons">settings_cell</i></h2>
          <h5 class="center">Tech Reliable</h5>

          <p class="light">We have the best tech in the business to help validate our patients and ensure quality service.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br><br><br><br><br><br><br><br><br>
      <div class="row ">
        <h5 class="header col s12 white-text">Flowers are grown locally to provide the best quality medicine.</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img ng-src="images/grow_room.jpg" class="responsive-img" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-map lime-text text-accent-2"></i></h3>
        <h4>Service Area</h4>
        <p class="left-align light"></p>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">

$(document).ready(function(){
  $('.parallax').parallax()
})
</script>
