<!-- Template for Products -->
  <div class="row">

    <div class="col s3 orange lighten-5 z-depth-5">
      <div class="card small hoverable orange lighten-5">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator scalable" src="Ultra-violet-sativa.jpg"/>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Ultra Violet<a class="btn-floating btn-med waves-effect waves-light lime darken-4 right"><i class="material-icons">shopping_cart</i></a></span>
          <p><a href="#">Learn more about this strain</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Ultra Violet Prices<i class="material-icons right">close</i></span>
            <p>1/8: $60<a class="btn-floating btn-med waves-effect waves-light red right"><i class="material-icons">add</i></a></p>
            <p>1/4: $100<a class="btn-floating btn-med waves-effect waves-light red right"><i class="material-icons">add</i></a></p>
            <p>1/2: $180<a class="btn-floating btn-med waves-effect waves-light red right"><i class="material-icons">add</i></a></p>
            <p>Oz: $320<a class="btn-floating btn-med waves-effect waves-light red right"><i class="material-icons">add</i></a></p>
        </div>
      </div>
    </div>

  <div class="col s3 orange lighten-5 z-depth-5">
    <div class="card small hoverable orange lighten-5">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator scalable" src="green-krack-sativa.jpg"/>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Green Krack<a class="btn-floating btn-med waves-effect waves-light lime darken-4 right"><i class="material-icons">shopping_cart</i></a></span>
        <p><a href="#">Learn more about this strain</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Green Krack Prices<i class="material-icons right">close</i></span>
        <p>1/8: $60<a class="btn-floating btn-med waves-effect waves-light red right"><i class="material-icons">add</i></a></p>
        <p>1/4: $100<a class="btn-floating btn-med waves-effect waves-light red right"><i class="material-icons">add</i></a></p>
        <p>1/2: $180<a class="btn-floating btn-med waves-effect waves-light red right"><i class="material-icons">add</i></a></p>
        <p>Oz: $320<a class="btn-floating btn-med waves-effect waves-light red right"><i class="material-icons">add</i></a></p>
      </div>
    </div>
  </div>
</div>
<!-- End Template for Products -->
