<div class="row">


  <div class="col s6">
    <ul class="grey darken-4 row">


      <div class="search-wrapper">
        <i class="material-icons prefix lime-text text-accent-2 col s2">search</i>
        <input id="search" type="search" class="col s8 offset-s2"/>
      </div>

      <div class="row">
        <p>
          <input name="group1" type="radio" id="test1" />
          <label class="lime-text text-accent-2" for="test1">Name</label>
        </p>
        <p>
          <input name="group1" type="radio" id="test2" />
          <label class="lime-text text-accent-2" for="test2">Price</label>
        </p>
        <p>
          <input name="group1" type="radio" id="test3" />
          <label class="lime-text text-accent-2" for="test3">Type</label>
        </p>

      </div>
    </ul>

  </div>
  <!--Select Categories -->

  <div class="col s6 grey darken-4">
    <ul class="grey darken-4 row">
      <li class="tab col s12 m3 ">
        <a ui-sref="javascript">
          <div class="chip grey darken-4 lime-text text-accent-2">
            <img src="/images/Flowers.jpg" class="responsive-img" alt="Flowers">
            Flowers
          </div>
        </a>
      </li>
      <li class="tab col s12 m3 ">
        <a ui-sref="angularjs">
          <div class="chip grey darken-4 lime-text text-accent-2">
            <img src="/images/edibles.jpg" class="responsive-img" alt="Edibles">
            Edibles
          </div>
        </a>
      </li>
      <li class="tab col s12 m3 ">
        <a ui-sref="angularjs">
          <div class="chip grey darken-4 lime-text text-accent-2">
            <img src="/images/Concentrates.jpg" class="responsive-img" alt="Concentrates">
            Hash
          </div>
        </a>
      </li>
      <li class="tab col s12 m3 ">
        <a ui-sref="jquery">
          <div class="chip grey darken-4 lime-text text-accent-2">
            <img src="/images/clones.jpeg" class="responsive-img" alt="Clones">
            Clones
          </div>
        </a>
      </li>
      <!--<li class="tab col s3"><a href="#test4">Test 4</a></li>-->
    </ul>
  </div>
</div>
<!-- Template for Products -->
  <div class="col s12 m3 grey darken-4 z-depth-2" ng-repeat="strain in pr.strains">
    <div class="card small hoverable grey darken-4">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator scalable" ng-src="{{}}" class="responsive-img"/>
      </div>
      <div class="card-content">
        <span class="card-title activator ">{{strain.Name}}<a class="btn-floating btn-med waves-effect waves-light lime accent-2 right"><i class="material-icons black-text">shopping_cart</i></a></span>
        <img class="" ng-src="{{strain.StarImage}}" /><span>{{strain.Rating}}</span>
        <p><a href="#">Learn more about this strain</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title lime accent-2">Green Krack Prices<i class="material-icons right">close</i></span>
        <p>1/8: $60<a class="btn-floating btn-med waves-effect waves-light red right"><i class="material-icons">add</i></a></p>
        <p>1/4: $100<a class="btn-floating btn-med waves-effect waves-light red right"><i class="material-icons">add</i></a></p>
        <p>1/2: $180<a class="btn-floating btn-med waves-effect waves-light red right"><i class="material-icons">add</i></a></p>
        <p>Oz: $320<a class="btn-floating btn-med waves-effect waves-light red right"><i class="material-icons">add</i></a></p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  console.log('working');
  $('li.tab a').click(function(){
    //console.log(this)
    $('li.tab a').removeClass('active')
    $(this).addClass('active')
    // $('#search').val('')
  })
  $('.dropdown-button').dropdown({
    inDuration: 300,
    outDuration: 225,
    constrain_width: false, // Does not change width of dropdown to that of the activator
    hover: true, // Activate on hover
    gutter: 0, // Spacing from edge
    belowOrigin: false, // Displays dropdown below the button
    alignment: 'left' // Displays dropdown with edge aligned to the left of button
  }
);
})
</script>
<!-- End Template for Products -->
